<a href="https://colab.research.google.com/github/rohitthapar/Sampling/blob/main/SamplingAssignment_102003482_RohitThapar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [120]:
import numpy as np
import pandas as pd
df = pd.read_csv('Creditcard_data.csv')

In [121]:
from sklearn.metrics import accuracy_score

In [122]:
from sklearn.ensemble import RandomForestClassifier
def RandomForest(X_train, y_train, X_test, y_test):
  clf = RandomForestClassifier(n_estimators = 2)
  clf.fit(X_train, y_train)
  y_pred = clf.predict(X_test)
  return accuracy_score(y_test,y_pred)

In [123]:
from sklearn.naive_bayes import GaussianNB
def KNN(X_train, y_train, X_test, y_test):
  knn = classifier5  = GaussianNB().fit(X_train, y_train)
  knn_pred = knn.predict(X_test)
  return accuracy_score(y_test,knn_pred)

In [124]:
from sklearn.tree import DecisionTreeClassifier
def DecisionTree(X_train, y_train, X_test, y_test):
  tree = DecisionTreeClassifier(max_depth = 2).fit(X_train, y_train)
  tree_pred = tree.predict(X_test)
  return accuracy_score(y_test,tree_pred)

In [125]:
from sklearn.linear_model import LogisticRegression
def Logistic(X_train, y_train, X_test, y_test):
  clf = LogisticRegression()
  clf.fit(X_train, y_train)
  y_pred = clf.predict(X_test)
  return accuracy_score(y_test,y_pred)

In [126]:
#from sklearn.linear_model import SGDClassifier
from sklearn.svm import SVC
def SVCa(X_train, y_train, X_test, y_test):
  svm = SVC(kernel='linear') 
  svm.fit(X_train, y_train)
  y_pred = svm.predict(X_test)
  return accuracy_score(y_test,y_pred)

In [127]:
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,1
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [128]:
from sklearn.preprocessing import normalize
Amount = normalize([df['Amount']])[0]
df['Amount'] = Amount
df = df.iloc[:, 1:]

In [129]:
df.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,0.090794,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,0.025729,0
1,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,-0.166974,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,0.000463,1
2,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,0.207643,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,0.065115,0
3,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,-0.054952,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,0.021237,0
4,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,0.753074,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,0.012036,0

In [130]:
clas = df["Class"].value_counts(normalize=False)
print(clas)

0    763
1      9
Name: Class, dtype: int64

In [131]:
X = df.drop('Class', axis=1)
y = df['Class']

In [132]:
# over sampling the minority data -> balancing the imbalanced dataset
from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler(random_state=42)
X_r, y_r = ros.fit_resample(X, y)

In [133]:
clas = y_r.value_counts(normalize=False)
print(clas)

0    763
1    763
Name: Class, dtype: int64

In [134]:
from sklearn.model_selection import train_test_split
X_dummy, X_test, y_dummy, y_test = train_test_split(X_r, y_r, test_size=0.33, random_state=42)

In [135]:
df_new = pd.concat([X_r, y_r], axis=1)
df_new

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,0.090794,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,0.025729,0
1,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,-0.166974,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,0.000463,1
2,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,0.207643,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,0.065115,0
3,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,-0.054952,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,0.021237,0
4,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,0.753074,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,0.012036,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1521,-2.000567,-2.495484,2.467149,1.140053,2.462010,0.594262,-2.110183,0.788347,0.958809,-0.328631,...,0.422452,1.195394,0.297836,-0.857105,-0.219322,0.861019,-0.124622,-0.171060,0.000258,1
1522,0.073497,0.551033,0.451890,0.114964,0.822947,0.251480,0.296319,0.139497,-0.123050,-0.142617,...,-0.128758,-0.381932,0.151012,-1.363967,-1.389079,0.075412,0.231750,0.230171,0.000170,1
1523,0.073497,0.551033,0.451890,0.114964,0.822947,0.251480,0.296319,0.139497,-0.123050,-0.142617,...,-0.128758,-0.381932,0.151012,-1.363967,-1.389079,0.075412,0.231750,0.230171,0.000170,1
1524,-1.738582,0.052740,1.187057,-0.656652,0.920623,-0.291788,0.269083,0.140631,0.023464,-0.066407,...,-0.179545,-0.192036,-0.261879,-0.237477,-0.335040,0.240323,-0.345129,-0.383563,0.000172,1
1525,-3.043541,-3.157307,1.088463,2.288644,1.359805,-1.064823,0.325574,-0.067794,-0.270953,-0.838587,...,0.661696,0.435477,1.375966,-0.293803,0.279798,-0.145362,-0.252773,0.035764,0.090968,1

In [136]:
z = 1.96 #95% confidence level
p = 0.5
e = 0.05 #5% esimated margin of error

***SIMPLE RANDOM SAMPLING***

In [137]:
#Simple Random Sampling 
import math
n_srs = (z*z*p*(1-p))/(e*e)
n_srs = math.floor(n_srs)
print(n_srs)

384

In [138]:
# from pandas.core.dtypes.generic import DataFrame
import random
def random_sampling(df, n_srs):
    random_sample = df.sample(n = n_srs)
    return(random_sample)
randomSample = random_sampling(df_new, n_srs)

In [139]:
randomSample.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
1028,-0.928088,0.398194,1.741131,0.182673,0.966387,-0.901004,0.879016,-0.156590,-0.142117,-0.574775,...,0.066353,0.281378,-0.257966,0.385384,0.391117,-0.453853,-0.104448,-0.125765,0.000172,1
670,-0.152397,-0.748114,1.659571,-2.160601,-1.448594,0.558854,-0.274352,0.010159,-1.964295,1.413108,...,0.004382,0.474039,-0.084319,-0.353695,-0.226044,-0.143999,-0.173635,-0.241563,0.019604,0
434,-0.987858,0.475771,1.672622,1.178044,0.730282,-0.403391,0.308014,0.254682,-1.045606,0.155401,...,-0.319192,-1.132128,0.233566,0.140309,0.072813,-0.637665,0.231877,0.062719,0.005719,0
1152,-3.043541,-3.157307,1.088463,2.288644,1.359805,-1.064823,0.325574,-0.067794,-0.270953,-0.838587,...,0.661696,0.435477,1.375966,-0.293803,0.279798,-0.145362,-0.252773,0.035764,0.090968,1
909,-1.738582,0.052740,1.187057,-0.656652,0.920623,-0.291788,0.269083,0.140631,0.023464,-0.066407,...,-0.179545,-0.192036,-0.261879,-0.237477,-0.335040,0.240323,-0.345129,-0.383563,0.000172,1

In [140]:
X_srs = randomSample.drop('Class', axis=1) #X_train
y_srs = randomSample['Class'] #y_train

In [141]:
len(y_srs)

384

In [142]:
srs_RandomForest = RandomForest(X_srs,y_srs,X_test,y_test)
srs_DecisionTree = DecisionTree(X_srs,y_srs,X_test,y_test)
srs_KNN = KNN(X_srs,y_srs,X_test,y_test)
srs_logistic = Logistic(X_srs,y_srs,X_test,y_test)
srs_svc = SVCa(X_srs,y_srs,X_test,y_test)

a1 = [srs_RandomForest,srs_DecisionTree,srs_KNN,srs_logistic,srs_svc]

In [143]:
a1

[0.9861111111111112,
 0.9345238095238095,
 0.6884920634920635,
 0.9146825396825397,
 0.9027777777777778]

***STRATIFIED SAMPLING***

In [144]:
#Stratified Sampling
import math
s = 2 #no of strata
n_strat = (z*z*p*(1-p))/(e*e/s*s)
n_strat = math.floor(n_srs)
print(n_strat)

384

In [145]:
# stratified sampling
from sklearn.model_selection import train_test_split
strata = df_new.groupby('Class')
stratified_df = strata.apply(lambda x: x.sample(n_strat))
stratified_df

                  V1        V2        V3        V4        V5        V6  \
Class
0     64   -0.522666  1.009923  0.276470  1.475289 -0.707013  0.355243
      498   1.256217  0.255028  0.277716  0.706677 -0.495831 -1.106735
      179  -0.182928 -0.920683  1.818758 -2.450936 -1.247560  0.147436
      394  -0.931805  1.527737  0.818889  0.056990 -0.319930 -1.054736
      142   0.270725 -1.615317  1.054982  1.661510 -1.737687  0.065894
...              ...       ...       ...       ...       ...       ...
1     797  -2.000567 -2.495484  2.467149  1.140053  2.462010  0.594262
      851  -1.738582  0.052740  1.187057 -0.656652  0.920623 -0.291788
      848  -1.738582  0.052740  1.187057 -0.656652  0.920623 -0.291788
      1341  1.191857  0.266151  0.166480  0.448154  0.060018 -0.082361
      887  -2.000567 -2.495484  2.467149  1.140053  2.462010  0.594262

                  V7        V8        V9       V10  ...       V21       V22  \
Class                                               ...
0     64    1.559849 -0.399579 -0.479813  0.516352  ...  0.172401  1.011543
      498  -0.008493 -0.124504  0.243687 -0.241481  ... -0.303927 -0.943830
      179   0.218629 -0.407290 -2.023879  1.410940  ...  0.030806  0.848899
      394   0.358790  0.354073 -0.392590 -0.432677  ... -0.249969 -0.713791
      142  -0.313977  0.089081  1.069842 -0.348638  ...  0.475338  0.496083
...              ...       ...       ...       ...  ...       ...       ...
1     797  -2.110183  0.788347  0.958809 -0.328631  ...  0.422452  1.195394
      851   0.269083  0.140631  0.023464 -0.066407  ... -0.179545 -0.192036
      848   0.269083  0.140631  0.023464 -0.066407  ... -0.179545 -0.192036
      1341 -0.078803  0.085102 -0.255425 -0.166974  ... -0.225775 -0.638672
      887  -2.110183  0.788347  0.958809 -0.328631  ...  0.422452  1.195394

                 V23       V24       V25       V26       V27       V28  \
Class
0     64    0.069666  0.157820 -1.109224 -0.302369  0.318170  0.316910
      498   0.146551  0.307164  0.169070  0.099129 -0.032095  0.027743
      179   0.120259  0.219241 -0.441860 -0.386687 -0.291553 -0.448051
      394   0.044634  0.334423 -0.081413  0.078215  0.231701  0.090920
      142  -0.482194  0.418871  0.235961 -0.265185 -0.001063  0.120126
...              ...       ...       ...       ...       ...       ...
1     797   0.297836 -0.857105 -0.219322  0.861019 -0.124622 -0.171060
      851  -0.261879 -0.237477 -0.335040  0.240323 -0.345129 -0.383563
      848  -0.261879 -0.237477 -0.335040  0.240323 -0.345129 -0.383563
      1341  0.101288 -0.339846  0.167170  0.125895 -0.008983  0.014724
      887   0.297836 -0.857105 -0.219322  0.861019 -0.124622 -0.171060

              Amount  Class
Class
0     64    0.041900      0
      498   0.000222      0
      179   0.023559      0
      394   0.001546      0
      142   0.078997      0
...              ...    ...
1     797   0.000258      1
      851   0.000172      1
      848   0.000172      1
      1341  0.000463      1
      887   0.000258      1

[768 rows x 30 columns]

In [146]:
stratified_df.head()

                 V1        V2        V3        V4        V5        V6  \
Class
0     64  -0.522666  1.009923  0.276470  1.475289 -0.707013  0.355243
      498  1.256217  0.255028  0.277716  0.706677 -0.495831 -1.106735
      179 -0.182928 -0.920683  1.818758 -2.450936 -1.247560  0.147436
      394 -0.931805  1.527737  0.818889  0.056990 -0.319930 -1.054736
      142  0.270725 -1.615317  1.054982  1.661510 -1.737687  0.065894

                 V7        V8        V9       V10  ...       V21       V22  \
Class                                              ...
0     64   1.559849 -0.399579 -0.479813  0.516352  ...  0.172401  1.011543
      498 -0.008493 -0.124504  0.243687 -0.241481  ... -0.303927 -0.943830
      179  0.218629 -0.407290 -2.023879  1.410940  ...  0.030806  0.848899
      394  0.358790  0.354073 -0.392590 -0.432677  ... -0.249969 -0.713791
      142 -0.313977  0.089081  1.069842 -0.348638  ...  0.475338  0.496083

                V23       V24       V25       V26       V27       V28  \
Class
0     64   0.069666  0.157820 -1.109224 -0.302369  0.318170  0.316910
      498  0.146551  0.307164  0.169070  0.099129 -0.032095  0.027743
      179  0.120259  0.219241 -0.441860 -0.386687 -0.291553 -0.448051
      394  0.044634  0.334423 -0.081413  0.078215  0.231701  0.090920
      142 -0.482194  0.418871  0.235961 -0.265185 -0.001063  0.120126

             Amount  Class
Class
0     64   0.041900      0
      498  0.000222      0
      179  0.023559      0
      394  0.001546      0
      142  0.078997      0

[5 rows x 30 columns]

In [147]:
X_st = stratified_df.drop('Class', axis=1) #X_train
y_st = stratified_df['Class'] #y_train

st_RandomForest = RandomForest(X_st,y_st,X_test,y_test)
st_DecisionTree = DecisionTree(X_st,y_st,X_test,y_test)
st_KNN = KNN(X_st,y_st,X_test,y_test)
st_logistic = Logistic(X_st,y_st,X_test,y_test)
st_svc = SVCa(X_st,y_st,X_test,y_test)

a2 = [st_RandomForest,st_DecisionTree,st_KNN,st_logistic,st_svc]

In [148]:
a2

[1.0,
 0.9365079365079365,
 0.6924603174603174,
 0.9126984126984127,
 0.9206349206349206]

***CLUSTER SAMPLING***

In [149]:
from sklearn.cluster import KMeans
#no of clusters = 10
kmeans = KMeans(n_clusters=10, random_state=42).fit(df_new)
cluster_assignments = kmeans.labels_
cluster = [1,3,5,6,8]
cluster_series = pd.Series(cluster_assignments)
cluster_df = df_new[cluster_series.isin(cluster)]

c:\Users\NIMISH LAKHMANI\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

In [150]:
cluster_df.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,0.090794,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,0.025729,0
2,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,0.207643,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,0.065115,0
3,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,-0.054952,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,0.021237,0
4,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,0.753074,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,0.012036,0
5,-0.425966,0.960523,1.141109,-0.168252,0.420987,-0.029728,0.476201,0.260314,-0.568671,-0.371407,...,-0.208254,-0.559825,-0.026398,-0.371427,-0.232794,0.105915,0.253844,0.081080,0.000631,0

In [151]:
X_C = cluster_df.drop('Class', axis=1) #X_train
y_C = cluster_df['Class'] #y_train

C_RandomForest = RandomForest(X_C,y_C,X_test,y_test)
C_DecisionTree = DecisionTree(X_C,y_C,X_test,y_test)
C_KNN = KNN(X_C,y_C,X_test,y_test)
C_logistic = Logistic(X_C,y_C,X_test,y_test)
C_svc = SVCa(X_C,y_C,X_test,y_test)

a3 = [C_RandomForest,C_DecisionTree,C_KNN,C_logistic,C_svc]

***SYSTEMATIC SAMPLING***

In [152]:
#Systematic Sampling
interval = 3
systematic_df = df_new.iloc[::interval]
systematic_df

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,0.090794,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,0.025729,0
3,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,-0.054952,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,0.021237,0
6,1.229658,0.141004,0.045371,1.202613,0.191881,0.272708,-0.005159,0.081213,0.464960,-0.099254,...,-0.167716,-0.270710,-0.154104,-0.780055,0.750137,-0.257237,0.034507,0.005168,0.000858,0
9,-0.338262,1.119593,1.044367,-0.222187,0.499361,-0.246761,0.651583,0.069539,-0.736727,-0.366846,...,-0.246914,-0.633753,-0.120794,-0.385050,-0.069733,0.094199,0.246219,0.083076,0.000633,0
12,1.249999,-1.221637,0.383930,-1.234899,-1.485419,-0.753230,-0.689405,-0.227487,-2.094011,1.323729,...,-0.231809,-0.483285,0.084668,0.392831,0.161135,-0.354990,0.026416,0.042422,0.020893,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1512,-0.928088,0.398194,1.741131,0.182673,0.966387,-0.901004,0.879016,-0.156590,-0.142117,-0.574775,...,0.066353,0.281378,-0.257966,0.385384,0.391117,-0.453853,-0.104448,-0.125765,0.000172,1
1515,-0.928088,0.398194,1.741131,0.182673,0.966387,-0.901004,0.879016,-0.156590,-0.142117,-0.574775,...,0.066353,0.281378,-0.257966,0.385384,0.391117,-0.453853,-0.104448,-0.125765,0.000172,1
1518,-1.738582,0.052740,1.187057,-0.656652,0.920623,-0.291788,0.269083,0.140631,0.023464,-0.066407,...,-0.179545,-0.192036,-0.261879,-0.237477,-0.335040,0.240323,-0.345129,-0.383563,0.000172,1
1521,-2.000567,-2.495484,2.467149,1.140053,2.462010,0.594262,-2.110183,0.788347,0.958809,-0.328631,...,0.422452,1.195394,0.297836,-0.857105,-0.219322,0.861019,-0.124622,-0.171060,0.000258,1
1524,-1.738582,0.052740,1.187057,-0.656652,0.920623,-0.291788,0.269083,0.140631,0.023464,-0.066407,...,-0.179545,-0.192036,-0.261879,-0.237477,-0.335040,0.240323,-0.345129,-0.383563,0.000172,1

In [153]:
systematic_df.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,0.090794,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,0.025729,0
3,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,-0.054952,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,0.021237,0
6,1.229658,0.141004,0.045371,1.202613,0.191881,0.272708,-0.005159,0.081213,0.464960,-0.099254,...,-0.167716,-0.270710,-0.154104,-0.780055,0.750137,-0.257237,0.034507,0.005168,0.000858,0
9,-0.338262,1.119593,1.044367,-0.222187,0.499361,-0.246761,0.651583,0.069539,-0.736727,-0.366846,...,-0.246914,-0.633753,-0.120794,-0.385050,-0.069733,0.094199,0.246219,0.083076,0.000633,0
12,1.249999,-1.221637,0.383930,-1.234899,-1.485419,-0.753230,-0.689405,-0.227487,-2.094011,1.323729,...,-0.231809,-0.483285,0.084668,0.392831,0.161135,-0.354990,0.026416,0.042422,0.020893,0

In [154]:
X_sy = systematic_df.drop('Class', axis=1) #X_train
y_sy = systematic_df['Class'] #y_train

sy_RandomForest = RandomForest(X_sy,y_sy,X_test,y_test)
sy_DecisionTree = DecisionTree(X_sy,y_sy,X_test,y_test)
sy_KNN = KNN(X_sy,y_sy,X_test,y_test)
sy_logistic = Logistic(X_sy,y_sy,X_test,y_test)
sy_svc = SVCa(X_sy,y_sy,X_test,y_test)

a4 = [sy_RandomForest,sy_DecisionTree,sy_KNN,sy_logistic,sy_svc]

In [155]:
a4

[0.996031746031746,
 0.9345238095238095,
 0.7341269841269841,
 0.9186507936507936,
 0.9166666666666666]

# ***convenience sampling***

In [156]:
#convenience sampling
convenience_sample = pd.concat([df_new.head(380), df_new.tail(380)])
convenience_sample

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,0.090794,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,0.025729,0
1,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,-0.166974,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,0.000463,1
2,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,0.207643,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,0.065115,0
3,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,-0.054952,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,0.021237,0
4,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,0.753074,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,0.012036,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1521,-2.000567,-2.495484,2.467149,1.140053,2.462010,0.594262,-2.110183,0.788347,0.958809,-0.328631,...,0.422452,1.195394,0.297836,-0.857105,-0.219322,0.861019,-0.124622,-0.171060,0.000258,1
1522,0.073497,0.551033,0.451890,0.114964,0.822947,0.251480,0.296319,0.139497,-0.123050,-0.142617,...,-0.128758,-0.381932,0.151012,-1.363967,-1.389079,0.075412,0.231750,0.230171,0.000170,1
1523,0.073497,0.551033,0.451890,0.114964,0.822947,0.251480,0.296319,0.139497,-0.123050,-0.142617,...,-0.128758,-0.381932,0.151012,-1.363967,-1.389079,0.075412,0.231750,0.230171,0.000170,1
1524,-1.738582,0.052740,1.187057,-0.656652,0.920623,-0.291788,0.269083,0.140631,0.023464,-0.066407,...,-0.179545,-0.192036,-0.261879,-0.237477,-0.335040,0.240323,-0.345129,-0.383563,0.000172,1
1525,-3.043541,-3.157307,1.088463,2.288644,1.359805,-1.064823,0.325574,-0.067794,-0.270953,-0.838587,...,0.661696,0.435477,1.375966,-0.293803,0.279798,-0.145362,-0.252773,0.035764,0.090968,1

In [157]:
convenience_sample.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,0.090794,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,0.025729,0
1,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,-0.166974,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,0.000463,1
2,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,0.207643,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,0.065115,0
3,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,-0.054952,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,0.021237,0
4,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,0.753074,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,0.012036,0

In [158]:
X_cs = convenience_sample.drop('Class', axis=1) #X_train
y_cs = convenience_sample['Class'] #y_train

cs_RandomForest = RandomForest(X_cs,y_cs,X_test,y_test)
cs_DecisionTree = DecisionTree(X_cs,y_cs,X_test,y_test)
cs_KNN = KNN(X_cs,y_cs,X_test,y_test)
cs_logistic = Logistic(X_cs,y_cs,X_test,y_test)
cs_svc = SVCa(X_cs,y_cs,X_test,y_test)

a5 = [cs_RandomForest,cs_DecisionTree,cs_KNN,cs_logistic,cs_svc]

In [159]:
a5

[0.996031746031746,
 0.9365079365079365,
 0.7916666666666666,
 0.9226190476190477,
 0.9265873015873016]

In [160]:
data = {
    'Model' : ['Random Forest','Decision Tree','GaussianNB','Logistic Regression','SVM'],
    'Simple Random Sampling' : a1,
    'Stratified Sampling' : a2,
    'Cluster Sampling' : a3,
    'Systematic Sampling' : a4,
    'Convenience Sampling' : a5
}

In [161]:
final_df = pd.DataFrame(data)

# ***Final table showing accuracy of each model with different sampling techniques***

In [162]:
final_df

,Model,Simple Random Sampling,Stratified Sampling,Cluster Sampling,Systematic Sampling,Convenience Sampling
0,Random Forest,0.986111,1.000000,0.773810,0.996032,0.996032
1,Decision Tree,0.934524,0.936508,0.793651,0.934524,0.936508
2,GaussianNB,0.688492,0.692460,0.732143,0.734127,0.791667
3,Logistic Regression,0.914683,0.912698,0.763889,0.918651,0.922619
4,SVM,0.902778,0.920635,0.767857,0.916667,0.926587